.default {
  @apply py-6 border-b relative cursor-pointer;
  & figure {
    @apply relative pb-3/5 w-full xl:pb-2/5;
  }
  & ul {
    @apply absolute bottom-0 right-0 pb-3 flex;
  }
}

@media screen and (min-width: 1024px) {
  .default {
    @apply flex flex-row-reverse items-center justify-between gap-20 cursor-pointer mx-auto w-3/4 py-10;
    & figure {
      flex: 0.8;
      @apply relative lg:pb-1/4;
    }
    & section {
      @apply py-8;
      flex: 1;
    }
  }
}

.hero {
  @apply relative cursor-pointer transition-transform transform scale-100;
  & figure {
    @apply relative pb-3/5 w-full;
  }
  & ul {
    @apply absolute -bottom-2 -right-2 flex;
  }
}

.carousel {
  @apply items-center justify-between relative min-w-full cursor-pointer;
  scroll-snap-align: start;
  & figure {
    @apply relative pb-3/5 w-full xl:pb-2/5;
  }
  & section {
    flex: 1.5;
    @apply mr-8;
  }
  & ul {
    @apply flex absolute bottom-0 bg-secondary right-0 transform translate-x-1 translate-y-1;
  }
}

.compact {
  @apply py-6 cursor-pointer mx-auto lg:w-3/4 lg:py-10;
  & .main {
    @apply flex items-center justify-between relative;
  }
  & figure {
    flex: 0.65;
    @apply relative pb-2/5 lg:pb-1/4;
  }
}

.top {
  @apply flex py-6 items-center justify-between relative min-w-full cursor-pointer;
  & section {
    flex: 1;
  }
  & .topNumber {
    flex: 0.125;
    @apply text-2xl font-bold text-primary-20;
  }
}

.default,
.top,
.compact {
  transition-property: transform opacity;
  transition-timing-function: linear;
  transition-duration: 0.085s;
  @apply transition-transform transform scale-100;
}

.default:hover,
.top:hover {
  transform: scale(1.015);
  opacity: 0.5;
}

.hero {
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 0.1s;
}

.hero:hover,
.compact:hover {
  transform: scale(1.01);
}

.title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
