.root {
  @apply overflow-hidden overflow-x-scroll fixed right-0 left-0 flex whitespace-nowrap px-6 py-4 top-14 z-10 bg-secondary transform transition-transform duration-300 translate-y-0 md:justify-center;
}

.link {
  @apply uppercase mx-3 py-2 text-primary-60 text-xs font-bold;
}

.link:first-child {
  @apply ml-0;
}

.link:last-child::after {
  content: '';
  @apply absolute w-6 h-full;
}

.active {
  @apply border-b-2 border-primary text-primary-95;
}

.hide {
  @apply -translate-y-full;
}

/*List view*/

.listView {
  @apply fixed overflow-auto right-0 left-0 flex flex-col px-6 pt-6 pb-8 top-14 z-50 bg-secondary border-b -mt-2;
}

.listView::after {
  content: '';
  @apply absolute bg-black-a-30 right-0 bottom-0 left-0 h-screen block transform translate-y-full;
}

.listView .link {
  @apply py-2 my-1 px-4 mx-0 text-primary-60;
}

.listView .active {
  @apply bg-blue-10 rounded-sm text-accent border-none;
}

.listView p {
  @apply mb-4 text-primary-60 uppercase text-xs;
}

.button {
  @apply sticky -right-2 bg-secondary ml-auto z-10 hover:opacity-100 -my-2;
}

.button::after {
  content: '';
  @apply absolute right-0 top-0 bottom-0 w-4 bg-secondary transform translate-x-full;
}

.expandedButton {
  @apply bg-secondary mx-auto;
}
