.searchButton {
  @apply px-2 opacity-50 flex hover:opacity-100;
}

.link {
  @apply font-bold text-primary-60 py-2 hover:opacity-40 px-2;
}

.heading {
  @apply mb-4 text-primary-60 uppercase text-xs;
}

.link:last-child {
  @apply mb-8;
}

.filterActive {
  @apply bg-blue-10 text-accent rounded-sm relative;
}

.filterActive:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 24px;
  width: 24px;
  content: '';
  margin: auto 1rem;
  background-size: 24px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-check%22%3E%3Cpolyline%20points%3D%2220%206%209%2017%204%2012%22%3E%3C/polyline%3E%3C/svg%3E');
  background-repeat: no-repeat;
  pointer-events: none;
}
